---
const today = new Date();
---

<footer class='container mt-8'>
  <div class="justify-center flex gap-4 py-8 prose dark:prose-invert text-sm">
    <a href="#">Newsletter</a>
    <a href="#">Buy me a Coffee</a>
    <a href="#">RSS</a>
  </div>

	<div class='py-4 border-t dark:border-t-zinc-700'>
    <div class="md:flex text-sm text-zinc-500 dark:text-zinc-300 prose dark:prose-invert justify-between">
      <div>Copyright © {today.getFullYear()} Devolio.</div>
      <!-- Please leave the credit if you dont make a significant changes to the template. It's just a nofollow link :)  -->
      <div>Template created by <a href="https://devaradise.com" target="_blank" rel="nofollow noopener">Syakir @ Devaradise</a></div>      
    </div>
	</div>
</footer>
