---
const today = new Date();
---

<footer class='bg-[var(--background-surface-color)] mt-16 border-t border-[var(--soft-border-color)]'>
	<div class='container text-center px-4 py-8'>
		<div>Copyright © {today.getFullYear()} Devaradise.</div>
	</div>
</footer>
