---
import { Image } from 'astro:assets';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import BaseLayout from '../layouts/BaseLayout.astro';
import NotFoundImage from '@src/assets/img/404-not-found.png';
---

<BaseLayout title={'404 Page Not Found - ' + SITE_TITLE} description={SITE_DESCRIPTION + ' 404 Page Not Found'}>
	<div class='container text-center'>
		<Image width={300} class='my-8 mx-auto' src={NotFoundImage} alt='404 Page Not Found' />
		<div class='p-4'>
			<h1 class='text-5xl font-bold my-4'>Page Not Found</h1>
			<p class='text-xl'>
				The page you're looking for is either moved or no longer exists. <br />
				Please contact the site owner that linked you to the original URL and let them know their link is broken.
			</p>
		</div>
	</div>
</BaseLayout>
