---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import Ava from '@src/assets/img/ava.jpg';
---

<BaseLayout title='About Me' description='Lorem ipsum dolor sit amet'>
	<div class='container'>
		<main class='prose text-lg dark:prose-invert'>
			<article>
				<div class='w-full md:flex md:items-center gap-16 mb-10'>
					<div class='text-pretty leading-9'>
						<Image src={Ava} alt='Hardioanto' width={300} class='rounded-3xl mx-4 md:mx-0' />
					</div>
					<div>
            <h1>I'm Hardianto</h1>
						<p>
							As a graduate of Pelita Bangsa University with a degree in Informatics Engineering, I've honed my skills in Software
							Engineering. Currently, I'm working as a Web Developer.
						</p>
						<p>
							My journey into programming began in Vocational High School, where I discovered a deep fascination with the field. Recognizing
							the limitations of my early education, I actively sought to expand my knowledge through self-study. I've leveraged resources
							like YouTube, Udemy Courses, Dicoding, and Blogs to deepen my understanding of various programming concepts and technologies.
						</p>
						<p>
							The dynamic world of software development offers endless opportunities for learning and exploration. I'm committed to staying
							up-to-date with the latest trends and technologies, and I'm always eager to acquire new skills. I believe that continuous
							learning and feedback are essential for growth and improvement.
						</p>
						<p>
							Based in Bekasi Regency, West Java Province, I'm always open to connecting with like-minded individuals. Feel free to reach
							out to me via my social media or email to discuss potential collaborations or opportunities.
						</p>
						<p>Thank you for your interest!</p>
					</div>
				</div>
			</article>
		</main>
	</div>
</BaseLayout>
